    .want-to .dropdown-toggle {
        background-color: transparent !important;
        border-color: transparent !important;
        text-align: left;
    }

    .want-to .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
    }

    .want-to {
        background-color: #fafafa;
        text-align: center;
        padding: 1.25em 0.9375em;
        color: #652c8a;
        margin-bottom: 3.125em;
        font-size: 1.1428571429em;
        border-bottom: 1px solid #ddd;
    }

        .want-to .dropdown-toggle {
            outline: 0 !important;
            box-shadow: none;
        }

            .want-to .dropdown-toggle:hover, .want-to .dropdown-toggle:focus, .want-to .dropdown-toggle:active, .want-to .dropdown-toggle:visited {
                outline: 0 !important;
                box-shadow: none;
            }

    @media(min-width:768px) {
        .want-to .dropdown-i-want-to {
            width: 25em;
        }
    }

    @media(max-width:768px) {
        .want-to .dropdown-i-want-to {
            margin: 10px 0px !important;
        }
    }

    .want-to .dropdown-i-want-to {
        display: inline-block;
        margin: 0 1.0714285714em;
        vertical-align: middle;
        border: 1px dashed #652c8a;
        border-radius: 3px;
    }

    .dropdown-i-want-to .bootstrap-select {
        width: 100% !important;
        padding: 0px 20px;
    }

    .dropdown-i-want-to .btn-dropdown-select {
        background-color: transparent;
        width: 100%;
        border: 0;
        padding: 0.34375em;
        margin: 0;
        text-align: left;
        padding-left: 1.25em;
        text-transform: none;
        height: 2.375em;
        font-weight: 500;
        padding-right: 1.875em;
        position: relative;
        display: block;
    }

    .dropdown-i-want-to .dropdown-label {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
    }

    .dropdown-i-want-to .btn-dropdown-select a {
        color: #652c8a;
    }

    .dropdown-i-want-to .dropdown-menu {
        width: 100%;
        max-width: auto;
        background-color: #fff;
        box-shadow: none;
        border-radius: 3px;
        margin-top: 0.8125em;
    }

        .dropdown-i-want-to .dropdown-menu > li > [role="menuitem"] {
            white-space: normal;
            padding-left: 2.8125em;
            position: relative;
        }

            .dropdown-i-want-to .dropdown-menu > li > [role="menuitem"] .icon {
                position: absolute;
                left: 10px;
            }

    .dropdown-i-want-to .icon {
        vertical-align: sub;
        font-size: 1.25em;
        margin-right: 0.9375em;
    }

    .dropdown-i-want-to .icon {
        font-family: 'icons';
        display: inline-block;
        line-height: 1;
        font-weight: normal;
        font-style: normal;
        speak: none;
        text-decoration: inherit;
        text-transform: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .want-to .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        white-space: nowrap;
        padding: 9.5px 40px;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 2px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: normal;
        color: #652c8a;
    }

    .want-to .btn-go {
        text-transform: uppercase;
        font-weight: 600;
        width: auto;
        outline: 0;
    }

    .want-to .btn-go {
        color: #3f2c00;
        background: rgba(254,206,12,1);
        background: -moz-linear-gradient(top, rgba(254,206,12,1) 0%, rgba(254,176,7,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,206,12,1)), color-stop(100%, rgba(254,176,7,1)));
        background: -webkit-linear-gradient(top, rgba(254,206,12,1) 0%, rgba(254,176,7,1) 100%);
        background: -o-linear-gradient(top, rgba(254,206,12,1) 0%, rgba(254,176,7,1) 100%);
        background: -ms-linear-gradient(top, rgba(254,206,12,1) 0%, rgba(254,176,7,1) 100%);
        background: linear-gradient(to bottom, rgba(254,206,12,1) 0%, rgba(254,176,7,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fece0c', endColorstr='#feb007', GradientType=0 );
        border-color: #fab604;
    }

        .want-to .btn-go:hover, .want-to .open > .want-to .btn-go.dropdown-toggle {
            color: #3f2c00;
            background: rgba(251,198,5,1);
            background: -moz-linear-gradient(top, rgba(251,198,5,1) 0%, rgba(248,158,3,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,198,5,1)), color-stop(100%, rgba(248,158,3,1)));
            background: -webkit-linear-gradient(top, rgba(251,198,5,1) 0%, rgba(248,158,3,1) 100%);
            background: -o-linear-gradient(top, rgba(251,198,5,1) 0%, rgba(248,158,3,1) 100%);
            background: -ms-linear-gradient(top, rgba(251,198,5,1) 0%, rgba(248,158,3,1) 100%);
            background: linear-gradient(to bottom, rgba(251,198,5,1) 0%, rgba(248,158,3,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbc605', endColorstr='#f89e03', GradientType=0 );
        }

    .dropdown-i-want-to .btn-dropdown-select .caret {
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -2.5px;
        border-bottom: 0;
    }

    .dropdown-i-want-to .dropdown-menu.inner li {
        padding: 10px 25px;
    }

        .dropdown-i-want-to .dropdown-menu.inner li a {
            color: #676767;
            background-color: transparent !important;
            outline: 0;
        }

        .dropdown-i-want-to .dropdown-menu.inner li:hover a {
            color: #652c8a;
            background-color: transparent !important;
        }

        .dropdown-i-want-to .dropdown-menu.inner li:after {
            content: '';
            display: inline-block;
            overflow: hidden;
            background-repeat: no-repeat;
            background-image: url('../../images/cssicon.png');
            width: 20px;
            height: 24px;
            position: absolute;
            left: 10px;
            top: 10px;
        }


        .dropdown-i-want-to .dropdown-menu.inner li:nth-child(1):hover:after {
            width: 20px;
            height: 24px;
            background-position: -24px -52px;
        }

        .dropdown-i-want-to .dropdown-menu.inner li:nth-child(1):after {
            width: 20px;
            height: 24px;
            background-position: -2px -52px;
        }

        .dropdown-i-want-to .dropdown-menu.inner li:nth-child(2):hover:after {
            width: 26px;
            height: 26px;
            background-position: -30px -2px;
        }

        .dropdown-i-want-to .dropdown-menu.inner li:nth-child(2):after {
            width: 26px;
            height: 26px;
            background-position: -2px -2px;
        }

        .dropdown-i-want-to .dropdown-menu.inner li:nth-child(3):hover:after {
            width: 18px;
            height: 24px;
            background-position: -22px -78px;
        }

        .dropdown-i-want-to .dropdown-menu.inner li:nth-child(3):after {
            width: 18px;
            height: 24px;
            background-position: -2px -78px;
        }

        .dropdown-i-want-to .dropdown-menu.inner li:nth-child(4):hover:after {
            width: 26px;
            height: 20px;
            background-position: -30px -30px;
        }

        .dropdown-i-want-to .dropdown-menu.inner li:nth-child(4):after {
            width: 26px;
            height: 20px;
            background-position: -2px -30px;
        }
		
		.dropdown-i-want-to .dropdown-menu.inner li:nth-child(5):hover:after {
            width: 28px;
            height: 28px;
            background-position: -30px -104px;
        }

        .dropdown-i-want-to .dropdown-menu.inner li:nth-child(5):after {
            width: 28px;
            height: 28px;
            background-position: -2px -104px;
        }

    .want-to-span {
        font-weight: bold;
    }

    .dropdown-i-want-to .filter-option .glyphicon {
        display: inline-block;
        overflow: hidden;
        background-repeat: no-repeat;
        background-image: url('../../images/cssicon.png');
        position: absolute;
        left: 0px;
        top: 8px;
    }

        .dropdown-i-want-to .filter-option .glyphicon.icon--1 {
            width: 20px;
            height: 24px;
            background-position: -24px -52px;
        }

        .dropdown-i-want-to .filter-option .glyphicon.icon--2 {
            width: 26px;
            height: 26px;
            background-position: -30px -2px;
        }

        .dropdown-i-want-to .filter-option .glyphicon.icon--3 {
            width: 18px;
            height: 24px;
            background-position: -22px -78px;
        }

        .dropdown-i-want-to .filter-option .glyphicon.icon--4 {
            width: 26px;
            height: 20px;
            background-position: -30px -30px;
        }

		.dropdown-i-want-to .filter-option .glyphicon.icon--5 {
            width: 28px;
            height: 28px;
            background-position: -30px -104px;
        }
    .want-to {
        position: relative;
    }

    #register-mail {
        width: 535px;
        height: 145px;
        display: block;
        border: 1px solid #d2d2d2;
        border-radius: 3px;
        background-color: #ececec;
        box-shadow: 0px 0px 30px #888888;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        z-index: 999;
        padding: 15px;
    }

        #register-mail .title {
            color: #000000;
            font-weight: bold;
            text-align: left;
            margin-bottom: 10px;
            margin-bottom: 15px;
        }

        #register-mail input.form-control {
            color: #000000;
            font-weight: bold;
            text-align: left;
            margin-bottom: 10px;
            font-weight: normal;
            height: 60px;
            list-style: 60px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        #register-mail .input-group-addon {
            padding: 0px;
            border: 0px;
            vertical-align: top;
        }

    .btn-register-mail {
        color: #FFFFFF;
        display: block;
        width: 117px;
        height: 60px;
        font-weight: bold;
        background-color: #652c8a;
        line-height: 60px;
        padding: 0px;
        text-decoration: none !important;
    }

        .btn-register-mail:hover, .btn-register-mail:focus, .btn-register-mail:active {
            color: #FFF !important;
            text-decoration: none !important;
            background-color: #119e4e;
        }

    #register-mail #close-pp {
        width: 20px;
        height: 20px;
        display: block;
        background: url(./images/close.png) no-repeat;
        background-size: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
    }

    .btn_menu_top {
        margin-top: 15px !important;
    }

    .want-to .btn-group.open .dropdown-toggle {
        box-shadow: none;
    }

    #main-slider #carousel-example-generic .carousel-indicators li {
        border-radius: 50% !important;
        width: 15px !important;
        height: 15px !important;
        background: #FFF;
        /*border: 1px solid #00833e !important;*/
        margin: 0px 3px !important;
    }

    #main-slider #carousel-example-generic .carousel-indicators {
        bottom: 10px !important;
    }

        #main-slider #carousel-example-generic .carousel-indicators li.active {
            background: #fdb719;
            /*border: 1px solid #00833e !important;*/
        }

    .popup-register-mail {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999999;
    }

    .footer_banner {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 635px;
        height: 105px;
        z-index: 999999;
    }

    .content_banner {
        width: 635px;
        height: 105px;
        background: url('./images/footer_banner.html') no-repeat;
        /*background-size: 100%;*/
    }

    .button_close_banner {
        width: 30px;
        height: 30px;
        right: 0;
        /*background: url('../../Content/themes/img/footer_banner.gif') no-repeat;*/
        background-size: 100%;
        position: absolute;
    }

    .area_input_banner {
        position: absolute;
        bottom: 30px;
        width: 65%;
        height: 36px;
        left: 5%;
        background: #FFF;
        border-radius: 3px;
        border: solid 1px #aaa;
    }

    .input_banner {
        float: left;
        width: 85%;
        height: 36px;
        line-height: 36px;
        border: none;
        background: none;
        font-size: 16px;
        font-weight: 700;
        padding: 0 10px;
    }

    .send_input_btn_banner {
        float: right;
        height: 34px;
        line-height: 34px;
        text-transform: uppercase;
        background: #00833e;
        border: 0;
        font-size: 15px;
        font-weight: 700;
        color: #FFF;
        padding: 0 10px;
        border-radius: 3px;
        width: 15%;
    }

    .content_tab_about_new:first-child > .text-uppercase {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 25px;
        color: #383838;
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 20px;
    }
    .pagination > li > a,
        .pagination > li > span {
            color: #454545;
        }
        
        .pagination > .active > a,
        .pagination > .active > a:focus,
        .pagination > .active > a:hover,
        .pagination > .active > span,
        .pagination > .active > span:focus,
        .pagination > .active > span:hover {
            background-color: #f6f6f6;
            border-color: #dddddd;
            color: #454545;
        }
        #page_navigation a {
            padding: 3px;
            margin: 4px;
            color: black;
            text-decoration: none;
        }
        
        #page_navigation a:hover {
            background: #ccc;
        }
        
        .active_page {
            background: #34a945;
            color: white !important;
        }
        
        .p_question {
            margin: 0 15px 10px;
            text-align: justify;
        }