﻿.img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
}

.bts-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

    .bts-popup.is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0s;
    }

.bts-popup-container {
    position: relative;
    width: 90%;
    max-width: 560px;
    margin: 4em auto;
    /*// background: #a0cff1;*/
    border-radius: none;
    text-align: center;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);*/
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .bts-popup-container img {
        padding: 20px 0 0 0;
    }

    .bts-popup-container p {
        color: white;
        padding: 10px 40px;
    }

    .bts-popup-container .bts-popup-button {
        padding: 5px 25px;
        border: 2px solid white;
        display: inline-block;
        margin-bottom: 10px;
    }

    .bts-popup-container a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }

    .bts-popup-container .bts-popup-close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 10px;
        /* height: 96px; */
    }

        .bts-popup-container .bts-popup-close::before, .bts-popup-container .bts-popup-close::after {
            content: '';
            position: absolute;
            top: 12px;
            width: 16px;
            height: 3px;
            background-color: white;
        }

        .bts-popup-container .bts-popup-close::before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            left: 8px;
        }

        .bts-popup-container .bts-popup-close::after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            right: 6px;
            top: 13px;
        }

.is-visible .bts-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.bts-popup {
    z-index: 99999999;
}

.area_input_popup {
    position: absolute;
    bottom: 30px;
    width: 88%;
    height: 52px;
    left: 6%;
    background: #FFF;
    border-radius: 3px;
}

.input_popup {
    float: left;
    width: 85%;
    height: 52px;
    line-height: 50px;
    border: none; background: none;
    font-size: 16px;
    font-weight: 700;
    padding: 0 10px;
}

input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 100;
    /*line-height: 136px;*/
}

.send_input_btn {
    float: right;
    height: 52px; line-height: 50px;
    text-transform: uppercase;
    background: #00833e;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    color: #FFF; padding: 0 10px;
    border-radius: 3px;    width: 15%;
}

input::-webkit-input-placeholder {
    color: #999;	
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
@media screen and (max-width: 480px){
   .area_input_popup{bottom: 10px; height: 40px;}
   .input_popup{ height: 40px; line-height: 40px; font-size: 14px;}
   .send_input_btn{ height: 40px; line-height: 40px; font-size: 14px; padding: 0 5px;}
   .input_popup::-webkit-input-placeholder {    
		font-size:10px !important;
	}
}

/*--
@media(max-width: 480px) {
    .input_popup {
        width: 200px !important;
        height: 20px !important;
    }

    .area_input_popup {
        bottom: 4px !important;
        left: 45px !important;
        background: none;
    }

    .send_input_btn {
        height: 22px !important;
        width: 40px !important;
        padding-bottom: 7px !important; font-size:15px;
    }

    .bts-popup-container .bts-popup-close {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 60px;
    }
}
    @media(max-width: 320px) {
        .input_popup {
            width: 180px !important;
            height: 20px !important;
        }

        .area_input_popup {
            bottom: 3px !important;
            left: 40px !important;
        }

        .send_input_btn {
            height: 22px !important;
            width: 35px !important;
            padding-bottom: 5px !important;
        }

        .bts-popup-container .bts-popup-close {
            position: absolute;
            top: -5px;
            right: -5px;
            height: 60px;
        }
    }

    @media(min-width: 360px) {
        .input_popup {
            width: 200px !important;
            height: 20px !important;
        }

        .area_input_popup {
            bottom: 4px !important;
            left: 45px !important;
            background: none;
        }

        .send_input_btn {
            height: 22px !important;
            width: 40px !important;
            padding-bottom: 7px !important; font-size:15px;
        }

        .bts-popup-container .bts-popup-close {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 60px;
        }
    }

    @media(min-width: 412px) {
        .input_popup {
            width: 225px !important;
            height: 25px !important;
        }

        .area_input_popup {
            bottom: 3px !important;
            left: 50px !important;
        }

        .send_input_btn {
            height: 30px !important;
            width: 47px !important;
            padding-bottom: 8px !important;
        }

        .bts-popup-container .bts-popup-close {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 60px;
        }
    }

    @media(width: 375px) {
        .input_popup {
            width: 210px !important;
            height: 20px !important;
        }

        .area_input_popup {
            bottom: 7px !important;
            left: 48px !important;
        }

        .send_input_btn {
            height: 23px !important;
            width: 40px !important;
            padding-bottom: 5px !important;
        }

        .bts-popup-container .bts-popup-close {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 60px;
        }
    }

    @media(width: 425px) {
        .input_popup {
            width: 232px !important;
            height: 22px !important;
        }

        .area_input_popup {
            bottom: 4px !important;
            left: 53px !important;
        }

        .send_input_btn {
            height: 30px !important;
            width: 48px !important;
            padding-bottom: 8px !important;
        }
    }
*/