﻿@charset "UTF-8";

@greenf88 {
    background-color: #126b37;
}

@greenfooter {
    background-color: #652c8a;
}

@colortitle {
    color: #6c6c6c;
}

@colorbody {
    color: #585858;
}

@yellow {
    background-color: #fdb719;
}
/*-----------   Style web -----------*/
/*-- Font-webs --*/
@font-face {
    font-family: 'UTM-Avo';
    src: url(../fonts/UTM-Avo.ttf);
}

@font-face {
    font-family: 'UTM-AvoBold';
    src: url(../fonts/UTM-AvoBold.ttf);
}
/*-- End Font-webs --*/
body {
    background-color: #f9f9f9;
}

@media all and (min-width: 768px) {
    .no-padding {
        padding-left: 0px;
        padding-right: 0px;
    }

    .no-left {
        padding-left: 0px;
    }

    .no-right {
        padding-right: 0px;
    }
}

.logo {
    -webkit-animation: fadeInDown 2000ms;
    animation: fadeInDown 2000ms;
    background-size: 100% !important;
    margin: 8px auto;
    height: 57px;
    width: 102px;
    z-index: 999;
    display: block;
    position: absolute;
}

    .logo h1 {
        height: 57px;
        width: 102px;
        margin-top: 0px;
    }

        .logo h1 a {
            text-indent: -9999em;
            display: block;
            height: 57px;
            width: 102px;
        }

/*--------------
---------    Layout ---------
------------------------------*/
/*-----------    Index -----------*/
#main-header {
    background-color: #652c8a;
    min-height: 80px;
    border-top: 1px solid #207443;
    border-bottom: 5px solid #fdb719;
}

@media (min-width: 768px) {
    .navbar_top {
        margin: 14px 0px;
    }
}

.navbar-default {
    background: transparent;
    border: none;
    margin-bottom: 0px;
}

    .navbar-default .collapse ul {
        margin-bottom: 0px;
    }

        .navbar-default .collapse ul li a {
            color: #ffffff;
            font-size: 14px;
            padding: 15px 5px;
        }

            .navbar-default .collapse ul li a:hover {
                background: #transparent;
                color: #fdb719;
            }

        .navbar-default .collapse ul .active a {
            background: none;
        }

.btn_menu_top {
    display: table;
    float: left;
    margin-top: 22px;
    margin-left: 15px;
}

    .btn_menu_top:hover {
        opacity: 0.95;
    }

.numberphonef88 {
    display: table;
    float: left;
}

    .numberphonef88 .icon_phone {
        background: url(../images/index/icon/icon_phone.png) no-repeat;
        height: 32px;
        width: 32px;
        display: table;
        float: left;
        margin-top: 22px;
        margin-right: 5px;
    }

    .numberphonef88 span {
        color: #FFF;
        line-height: 75px;
        font-size: 38px;
        font-weight: bold;
    }

#main-slider {
    background-color: #c7dfe6;
}

    #main-slider:hover .left.carousel-control .glyphicon {
        visibility: visible;
        opacity: 1;
        height: 50px;
        width: 50px;
    }

        #main-slider:hover .left.carousel-control .glyphicon:after {
            height: 60px;
            width: 60px;
            visibility: visible;
            opacity: 1;
        }

        #main-slider:hover .left.carousel-control .glyphicon:before {
            visibility: visible;
            opacity: 1;
        }

    #main-slider:hover .right.carousel-control .glyphicon {
        visibility: visible;
        opacity: 1;
        height: 50px;
        width: 50px;
    }

        #main-slider:hover .right.carousel-control .glyphicon:after {
            height: 60px;
            width: 60px;
            visibility: visible;
            opacity: 1;
        }

        #main-slider:hover .right.carousel-control .glyphicon:before {
            visibility: visible;
            opacity: 1;
        }

    #main-slider .left.carousel-control {
        background: none;
    }

        #main-slider .left.carousel-control .glyphicon {
            -webkit-transition: all 1000ms;
            transition: all 1000ms;
            visibility: hidden;
            opacity: 0;
            text-shadow: none;
            color: #fdba21;
            background: #FFF;
            height: 0px;
            width: 0px;
            border-radius: 50%;
            line-height: 50px;
            font-size: 18px;
            top: 50%;
        }

            #main-slider .left.carousel-control .glyphicon:after {
                visibility: hidden;
                opacity: 0;
                -webkit-transition: all 500ms;
                transition: all 500ms;
                display: block;
                content: '';
                position: absolute;
                top: -5px;
                left: -5px;
                background: rgba(255, 255, 255, 0.5);
                height: 0px;
                width: 0px;
                border-radius: 50%;
            }

            #main-slider .left.carousel-control .glyphicon:before {
                visibility: hidden;
                opacity: 0;
            }

    #main-slider .right.carousel-control {
        background: none;
    }

        #main-slider .right.carousel-control .glyphicon {
            -webkit-transition: all 1000ms;
            transition: all 1000ms;
            visibility: hidden;
            opacity: 0;
            top: 50%;
            text-shadow: none;
            color: #fdba21;
            background: #FFF;
            height: 0px;
            width: 0px;
            border-radius: 50%;
            line-height: 50px;
            font-size: 18px;
        }

            #main-slider .right.carousel-control .glyphicon:after {
                visibility: hidden;
                opacity: 0;
                -webkit-transition: all 500ms;
                transition: all 500ms;
                display: block;
                content: '';
                position: absolute;
                top: -5px;
                left: -5px;
                background: rgba(255, 255, 255, 0.5);
                height: 0px;
                width: 0px;
                border-radius: 50%;
            }

            #main-slider .right.carousel-control .glyphicon:before {
                visibility: hidden;
                opacity: 0;
            }

    #main-slider #carousel-example-generic .item {
        overflow: hidden;
    }

    #main-slider #carousel-example-generic .carousel-indicators {
        bottom: -40px;
    }

        #main-slider #carousel-example-generic .carousel-indicators li {
            border-radius: 4px;
            width: 64px;
            height: 5px;
            background: #dedede;
            border: none;
            margin: 0px 3px;
        }

            #main-slider #carousel-example-generic .carousel-indicators li.active {
                background: #fdb719;
            }

#main-category {
    background-color: #f9f9f9;
    min-height: 435px;
}

    #main-category .btn-category-group ul {
        display: table;
        margin: 45px auto 20px auto;
    }

        #main-category .btn-category-group ul li {
            margin: 0px 10px;
        }

            #main-category .btn-category-group ul li .btn-cam-do-online {
                width: 314px;
                height: 62px;
                display: table;
                background: url(../images/index/button/cam-do-online.png);
            }

                #main-category .btn-category-group ul li .btn-cam-do-online:hover {
                    background: url(../images/index/button/cam-do-online-active.png);
                }

            #main-category .btn-category-group ul li .btn-mua-do-thanh-ly {
                width: 320px;
                height: 62px;
                display: table;
                background: url(../images/index/button/mua-do-thanh-ly.png);
            }

                #main-category .btn-category-group ul li .btn-mua-do-thanh-ly:hover {
                    background: url(../images/index/button/mua-do-thanh-ly-active.png);
                }

.box_cate_2 img {
    display: block;
    margin: 45px auto auto auto;
}

@media (min-width: 768px) {
    .text_box_euro_4 {
        border-radius: 10px;
        background-color: #dedede;
        width: 271px;
        height: 31px;
        display: table;
        margin: auto;
        font-size: 16px;
        font-family: "Helvetica Neue";
        color: #5d5d5d;
        font-weight: bold;
        line-height: 1.2;
        line-height: 31px;
    }
}

@media (max-width: 768px) {
    .text_box_euro_4 {
        border-radius: 10px;
        background-color: #dedede;
        width: 200px;
        height: 31px;
        display: table;
        margin: auto;
        font-size: 13px;
        font-family: "Helvetica Neue";
        color: #5d5d5d;
        font-weight: bold;
        line-height: 1.2;
        line-height: 31px;
    }
}

.text_box_euro_4:after {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #dedede;
    position: absolute;
    left: 48%;
    display: block;
    bottom: -10px;
    content: '';
}

.media_cate {
    height: 160px;
    width: 100%;
}

.box_cate_2 .text_1_caption {
    color: #11894e;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.box_cate_2 .text_2_caption {
    color: #767676;
    font-size: 14px;
}

.box_cate_2 .font_bold_euro {
    color: #767676;
    font-size: 41px;
    font-weight: bold;
}

#main-list-item {
    background-color: #126b37;
    min-height: 160px;
    border-top: 5px solid #fdb719;
    position: relative;
}

@media (min-width: 768px) {
    .item_s_1 img {
        z-index: 99;
        position: absolute;
        bottom: 63px;
        left: -100px;
        width: 550px;
    }
    /* .item_s_1 img { width: 360px; } */
    .item_s_2 img {
        z-index: 99;
        position: absolute;
        top: 75px;
        left: 280px;
        width: 250px;
    }

    .item_s_3 img {
        z-index: 99;
        position: absolute;
        top: 96px;
        left: 615px;
        width: 280px;
    }

    .item_s_4 img {
        z-index: 9999;
        position: absolute;
        bottom: 192px;
        right: 0px;
        width: 455px;
    }

    .item_s_5 img {
        z-index: 99;
        position: absolute;
        bottom: 7px;
        width: 100%;
        left: 0px;
    }

    .body-list-item {
        color: #FFF;
        position: relative;
    }

        .body-list-item ul {
            margin-bottom: 0px;
        }

        .body-list-item .container {
            padding-left: 20px;
        }

        .body-list-item li .box-img {
            display: table;
            margin: auto;
        }

        .body-list-item li img {
            line-height: 50px;
            max-width: 100%;
            margin-bottom: 15px;
            margin-top: 10px;
        }
}

#main-list-item .heading_category h4 {
    border-bottom: 1px solid #71a687;
    margin: 15px auto 0px auto;
    color: #FFF;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding-bottom: 17px;
    display: block;
}

.heading_category .icon_glyphicon_record {
    color: #c3d8cc !important;
    margin: -12px auto 0px auto;
    display: table;
    background: #126b37;
    padding: 2px;
}

#main-list-item:after {
    width: 0px;
    height: 0px;
    border-left: 40px solid transparent !important;
    border-right: 40px solid transparent !important;
    border-top: 30px solid #126b37 !important;
    position: absolute;
    left: 47.5% !important;
    display: block;
    bottom: -10px !important;
}

#main-album {
    background-color: #f9f9f9;
    min-height: 280px;
    padding-top: 10px;
}

    #main-album .thumb-media {
        margin-top: 20px;
    }

#main-certificate {
    background-color: #ededed;
    min-height: 200px;
    border-top: 1px solid #dddddd;
}

    #main-certificate .box-heading h4 {
        font-size: 16px;
        color: #535353;
        font-weight: bold;
        margin-top: 20px;
        padding-bottom: 20px;
        background: url(../images/index/background/bg_heading_certificate.png) no-repeat bottom center;
    }

    #main-certificate .box-content .item-certificate .media {
        height: 105px;
    }

        #main-certificate .box-content .item-certificate .media img {
            display: block;
            margin: 15px auto;
        }

    #main-certificate .box-content .item-certificate .description {
        font-size: 14px;
        color: #464646;
    }

#main-contact {
    background: #f9f9f9;
    border-top: 5px solid #fdb719;
    border-bottom: 1px solid #d9d9d9;
}

    #main-contact .box-heading h4 {
        margin-top: 25px;
        font-size: 24px;
        color: #4e4e4e;
        font-weight: bold;
    }

        #main-contact .box-heading h4 .phone-f88 {
            color: #652c8a;
            font-size: 40px;
            font-weight: bold;
        }

    #main-contact .box-heading p {
        font-size: 16px;
        color: #4e4e4e;
    }

    #main-contact .box-content {
        padding-top: 0px;
        display: table;
        width: 100%;
    }

        #main-contact .box-content .btn-category-group ul {
            display: table;
            margin: 10px auto 10px auto;
        }

            #main-contact .box-content .btn-category-group ul li {
                margin: 0px 10px;
            }

                #main-contact .box-content .btn-category-group ul li .btn-cam-do-online {
                    width: 314px;
                    height: 62px;
                    display: table;
                    background: url(../images/index/button/cam-do-online.png);
                }

                    #main-contact .box-content .btn-category-group ul li .btn-cam-do-online:hover {
                        background: url(../images/index/button/cam-do-online-active.png);
                    }

                #main-contact .box-content .btn-category-group ul li .btn-mua-do-thanh-ly {
                    width: 320px;
                    height: 62px;
                    display: table;
                    background: url(../images/index/button/mua-do-thanh-ly.png);
                }

                    #main-contact .box-content .btn-category-group ul li .btn-mua-do-thanh-ly:hover {
                        background: url(../images/index/button/mua-do-thanh-ly-active.png);
                    }

#main-comment {
    min-height: 355px;
    background: #f9f9f9;
    border-top: 1px solid #d9d9d9;
}

    #main-comment .box-heading h4 {
        color: #535353;
        margin-top: 30px;
        padding-bottom: 25px;
        background: url(../images/index/background/bg_heading_certificate.png) no-repeat bottom center;
    }

    #main-comment .box-content {
        margin-top: 25px;
    }

        #main-comment .box-content .box-comment {
            min-height: 240px;
            background: #FFF;
            padding: 15px 20px;
            border: 1px solid #dadada;
        }

            #main-comment .box-content .box-comment .left.carousel-control {
                background: none;
            }

                #main-comment .box-content .box-comment .left.carousel-control .glyphicon {
                    -webkit-transition: all 1000ms;
                    transition: all 1000ms;
                    visibility: hidden;
                    opacity: 0;
                    text-shadow: none;
                    color: #fdba21;
                    background: #FFF;
                    height: 0px;
                    width: 0px;
                    border-radius: 50%;
                    line-height: 50px;
                    font-size: 18px;
                    top: 50%;
                }

                    #main-comment .box-content .box-comment .left.carousel-control .glyphicon:after {
                        visibility: hidden;
                        opacity: 0;
                        -webkit-transition: all 500ms;
                        transition: all 500ms;
                        display: block;
                        content: '';
                        position: absolute;
                        top: -5px;
                        left: -5px;
                        background: rgba(255, 255, 255, 0.5);
                        height: 0px;
                        width: 0px;
                        border-radius: 50%;
                    }

                    #main-comment .box-content .box-comment .left.carousel-control .glyphicon:before {
                        visibility: hidden;
                        opacity: 0;
                    }

            #main-comment .box-content .box-comment .right.carousel-control {
                background: none;
            }

                #main-comment .box-content .box-comment .right.carousel-control .glyphicon {
                    -webkit-transition: all 1000ms;
                    transition: all 1000ms;
                    visibility: hidden;
                    opacity: 0;
                    top: 50%;
                    text-shadow: none;
                    color: #fdba21;
                    background: #FFF;
                    height: 0px;
                    width: 0px;
                    border-radius: 50%;
                    line-height: 50px;
                    font-size: 18px;
                }

                    #main-comment .box-content .box-comment .right.carousel-control .glyphicon:after {
                        visibility: hidden;
                        opacity: 0;
                        -webkit-transition: all 500ms;
                        transition: all 500ms;
                        display: block;
                        content: '';
                        position: absolute;
                        top: -5px;
                        left: -5px;
                        background: rgba(255, 255, 255, 0.5);
                        height: 0px;
                        width: 0px;
                        border-radius: 50%;
                    }

                    #main-comment .box-content .box-comment .right.carousel-control .glyphicon:before {
                        visibility: hidden;
                        opacity: 0;
                    }

            #main-comment .box-content .box-comment .media img {
                max-width: 100%;
                margin: auto;
                display: table;
            }

            #main-comment .box-content .box-comment .article .content_comment {
                text-align: justify;
                min-height: 160px;
                border-bottom: 2px dotted #dadada;
                font-size: 14px;
            }

            #main-comment .box-content .box-comment .article .footer_comment {
                text-align: right;
                padding-top: 15px;
            }

                #main-comment .box-content .box-comment .article .footer_comment p {
                    margin-bottom: 0px;
                }

#main-footer {
    background: #f9f9f9;
    border-top: 1px solid #ebebeb;
    min-height: 265px;
}

    #main-footer .box-heading h4 {
        color: #6c6c6c;
        font-size: 14px;
        font-weight: medium;
        text-transform: uppercase;
        margin-top: 24px;
        margin-bottom: 0px;
    }

    #main-footer .box-heading-2 h4 {
        color: #6c6c6c;
        font-size: 14px;
        font-weight: medium;
        text-transform: uppercase;
        margin-top: 14px;
        margin-bottom: 0px;
    }

    #main-footer .box-content-2 {
        margin-top: 8px;
        display: table;
        width: 100%;
    }

        #main-footer .box-content-2 ul li {
            border-top: 1px solid #c9c9c9;
            height: 35px;
            display: table;
            width: 100%;
            padding: 8px 0px;
        }

            #main-footer .box-content-2 ul li .pull-right {
                width: 110px;
            }

            #main-footer .box-content-2 ul li a {
                color: #585858;
                font-size: 13px;
            }

                #main-footer .box-content-2 ul li a img {
                    margin-right: 15px;
                    margin-top: 15px;
                }

    #main-footer .box-content {
        margin-top: 20px;
        display: table;
        width: 100%;
    }

        #main-footer .box-content ul li {
            border-top: 1px solid #c9c9c9;
            height: 35px;
            display: table;
            width: 100%;
            padding: 8px 0px;
        }

            #main-footer .box-content ul li .pull-right {
                width: 110px;
            }

            #main-footer .box-content ul li a {
                color: #585858;
                font-size: 13px;
            }

        #main-footer .box-content ul .logo_vsec {
            padding-top: 20px;
        }

        #main-footer .box-content ul .numberphone-f88 {
            font-weight: bold;
            color: #652c8a;
            font-size: 37px;
            line-height: 35px;
            padding-top: 20px;
        }

            #main-footer .box-content ul .numberphone-f88 img {
                margin-right: 5px;
                margin-top: -5px;
            }

.navbar-bottom {
    background: #652c8a;
    min-height: 50px;
}

    .navbar-bottom ul {
        display: table;
        margin: auto;
		float: left;
    }

        .navbar-bottom ul li {
            padding: 15px 15px;
            -webkit-transition: all 200ms;
            transition: all 200ms;
			padding-right: 10px;
            display: inline-block;
        }

            .navbar-bottom ul li a {
                color: #ffffff;
                font-size: 13px;
                padding-top: 5px;
                display: table;
                line-height: 18px;
                text-decoration: none;
                -webkit-transition: all 200ms;
                transition: all 200ms;
                -webkit-transition: all 200ms;
                transition: all 200ms;
            }

                .navbar-bottom ul li a span {
                    margin-right: 1px;
                    -webkit-transition: all 200ms;
                    transition: all 200ms;
                }

                    .navbar-bottom ul li a span img {
                        vertical-align: top;
                    }

/*-----------    End -----------*/
/*-----------    Gioi-thieu-khuyen-mai-tuyen-dung   -----------*/
#section-content {
    background: #FFF;
}

    #section-content .box-wrapper {
        border-color: #e9e9e9;
        border-style: solid;
        border-width: 0px 1px 1px 1px;
        min-height: 500px;
        display: table;
        width: 100%;
        margin-bottom: 20px;
        background: #FFF;
    }

        #section-content .box-wrapper .nav_about_new {
            background: #ededed;
        }

            #section-content .box-wrapper .nav_about_new ul {
                border-bottom: 1px solid #dadada;
            }

                #section-content .box-wrapper .nav_about_new ul li {
                    padding: 0px;
                    margin: 0px !important;
                }

                    #section-content .box-wrapper .nav_about_new ul li a {
                        border-style: solid !important;
                        border-top: 0px solid transparent;
                        border-bottom: 0px solid transparent;
                        border-right: 1px solid #dadada;
                        color: #575757;
                        font-size: 14px;
                        margin: 0px !important;
                    }

                #section-content .box-wrapper .nav_about_new ul .active a {
                    background: #fdb719 !important;
                    border-top: 0px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-radius: 0px;
                    color: #383838;
                }

        #section-content .box-wrapper .content_tab_about_new {
            position: relative;
            padding: 30px 25px;
            color: #383838;
            font-size: 14px;
            width: 100%;
            display: table;
            line-height: 20px;
        }

            #section-content .box-wrapper .content_tab_about_new h1 {
                font-size: 20px;
                margin-top: 0px;
                margin-bottom: 25px;
                color: #383838;
            }

            #section-content .box-wrapper .content_tab_about_new .img-about {
                float: left;
                max-width: 534px;
                margin-top: 20px;
            }

            #section-content .box-wrapper .content_tab_about_new figure.img-about-bottom + figure.img-about-bottom {
                margin-bottom: 20px;
            }

.box_sale {
    width: 100%;
    display: inline-block;
    clear: both;
}

    .box_sale .color_green {
        color: #126b37;
    }

    .box_sale .list_sale {
        width: 100%;
        display: inline-block;
        clear: both;
        border-collapse: collapse;
    }

        .box_sale .list_sale .row_item {
            clear: both;
            display: table-row;
            background: #f6f6f6;
        }

            .box_sale .list_sale .row_item .list_item {
                display: table-cell;
                border: 1px solid #d9d9d9;
                vertical-align: top;
                position: relative;
                min-height: 30px;
            }

                .box_sale .list_sale .row_item .list_item a {
                    color: #454545;
                    text-decoration: none;
                }

                    .box_sale .list_sale .row_item .list_item a:hover {
                        color: #126b37;
                    }

                .box_sale .list_sale .row_item .list_item ul {
                    margin-bottom: 0px;
                }

                    .box_sale .list_sale .row_item .list_item ul li {
                        margin-bottom: 5px;
                    }

                        .box_sale .list_sale .row_item .list_item ul li a {
                            color: #454545;
                            text-decoration: none;
                        }

                        .box_sale .list_sale .row_item .list_item ul li i {
                            margin-right: 5px;
                        }

.adress {
    width: 60%;
    padding: 10px 15px;
}

.caption {
    width: 25%;
    padding: 10px 40px;
}

.view {
    width: 15%;
    text-align: center;
    padding: 15px 20px;
}

.th_header {
    background: #FFF !important;
    border-style: solid;
    border-width: 0px 0px 1px 0px !important;
    border-color: #d9d9d9 !important;
}

.color_yellow {
    color: #fdb719;
}

.color_green {
    color: #126b37 !important;
}

.color_indent {
    color: #939393 !important;
}

.adrees_company {
    width: 20%;
    padding: 15px 30px;
}

    .adrees_company p {
        line-height: 20px;
        margin-bottom: 0px;
    }

    .adrees_company i.glyphicon {
        margin-right: 20px;
        font-size: 16px;
        top: 4px;
        line-height: 0px;
        font-weight: 100;
    }

.name_recruitment {
    width: 60%;
    padding: 15px 15px;
}

    .name_recruitment p {
        line-height: 20px;
        margin-bottom: 0px;
    }

    .name_recruitment i.glyphicon {
        margin-right: 15px;
        font-size: 20px;
        top: 6px;
        line-height: 0px;
        font-weight: 100;
    }

.time_jobs {
    width: 20%;
    padding: 15px 30px;
}

    .time_jobs p {
        line-height: 20px;
        margin-bottom: 0px;
    }

    .time_jobs i.glyphicon {
        margin-right: 15px;
        font-size: 16px;
        top: 4px;
        line-height: 0px;
        font-weight: 100;
    }

.pagination_cumtom ul li a {
    color: #454545;
}

.pagination_cumtom ul .active a {
    background-color: #f6f6f6;
    border-color: #dddddd;
    color: #454545;
}

.pagination_cumtom ul .active:hover a {
    background-color: #f6f6f6;
    border-color: #dddddd;
    color: #454545;
}

/*-----------    End -----------*/
/*-----------    H╞░ß╗¢ng dß║½n -----------*/
@media (min-width: 768px) {
    .document_F88 {
        padding: 30px 25px;
        color: #383838;
        font-size: 14px;
        width: 100%;
        display: table;
        line-height: 20px;
    }

        .document_F88 h1 {
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 25px;
            color: #383838;
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 20px;
        }
}

.document_F88_tab {
    color: #383838;
    font-size: 14px;
    width: 100%;
    display: table;
    line-height: 20px;
}

    .document_F88_tab h1 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 25px;
        color: #383838;
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 20px;
    }

@media (max-width: 768px) {
    .document_F88 {
        padding: 30px 15px;
        color: #383838;
        font-size: 14px;
        width: 100%;
        display: table;
        line-height: 20px;
    }

        .document_F88 h1 {
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 25px;
            color: #383838;
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 20px;
        }
}

.main-category-document {
    background-color: #FFF;
    border-top: 1px solid #d9d9d9;
    padding-top: 30px;
    margin-top: 30px;
}

.main-contact-document {
    background-color: #FFF !important;
    border-top: 1px solid #d9d9d9 !important;
    border-bottom: 0px solid #d9d9d9 !important;
    margin-top: 30px;
}

.main-contact-document-2 {
    background-color: #FFF !important;
    border-top: 0px solid #d9d9d9 !important;
    border-bottom: 0px solid #d9d9d9 !important;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .list_store_F88 {
        padding: 30px 25px;
        color: #383838;
        font-size: 14px;
        width: 100%;
        display: table;
        line-height: 20px;
    }

        .list_store_F88 h1 {
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 25px;
            color: #383838;
        }
}

@media (max-width: 768px) {
    .list_store_F88 {
        padding: 30px 10px;
        color: #383838;
        font-size: 14px;
        width: 100%;
        display: table;
        line-height: 20px;
    }

        .list_store_F88 h1 {
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 25px;
            color: #383838;
        }

    .right-ft--2 {
        padding-left: 15px !important;
        padding-top: 25px;
    }

        .right-ft--2 .right_ct img {
            margin-top: 10px;
        }
}

.main-album {
    background: #FFF !important;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*-----------    End -----------*/
.list_store_page h1 {
    position: relative;
    margin-bottom: 45px !important;
}

    .list_store_page h1 span {
        background: #FFF;
        position: absolute;
        z-index: 1;
        left: 0px;
        right: 0px;
        display: table;
        width: 30%;
        left: 35%;
        right: 35%;
    }

.list_store_page .search_store {
    display: table;
    margin: 20px auto;
}

    .list_store_page .search_store .lead {
        margin-bottom: 0px !important;
    }

    .list_store_page .search_store .form-group {
        margin: 0px 5px;
    }

        .list_store_page .search_store .form-group select {
            min-width: 260px;
            box-shadow: none;
        }

    .list_store_page .search_store .btn {
        margin-left: 5px;
        color: #5b5b5b;
        background: #eeeeee;
        padding: 6px 25px;
    }

.list_store_page .row_item {
    margin-bottom: 10px;
    display: table !important;
    width: 100%;
}

.list_store_page .list_item_store {
    padding: 15px 15px;
}

    .list_store_page .list_item_store p {
        margin-bottom: 0px;
        line-height: 20px;
    }

    .list_store_page .list_item_store i.glyphicon {
        margin-right: 5px;
    }

.list_store_page .list_item_store_1 {
    width: 15%;
}

.list_store_page .list_item_store_2 {
    width: 50%;
}

.list_store_page .list_item_store_3 {
    width: 15%;
}

.list_store_page .list_item_store_4 {
    width: 15%;
}

.line_br {
    border-top: 1px solid #d9d9d9;
    position: absolute;
    top: 42px;
    left: 25px;
    right: 25px;
    z-index: 0;
}

.regis_credit_onlne {
    margin-top: 24px;
}

    .regis_credit_onlne .nav {
        border-bottom: none;
    }

        .regis_credit_onlne .nav li {
            border: 1px solid #c9c9c9;
            border-radius: 5px;
            padding: 0px;
            box-shadow: 0px 0px 10px #e6e6e6;
            width: 32.4%;
            background: url(../images/register-online/step.png) no-repeat right center;
            background-position: 95% 10px;
            margin-bottom: 0px;
        }

            .regis_credit_onlne .nav li a {
                background: transparent;
                border: none !important;
                padding: 0px;
                color: #909090;
                font-weight: bold;
            }

            .regis_credit_onlne .nav li + li {
                margin-left: 15px;
            }

        .regis_credit_onlne .nav .active {
            border: 1px solid #c9c9c9;
            border-radius: 5px;
            background: url(../images/register-online/step_active.html) no-repeat right center;
            background-position: 95% 10px;
            margin-bottom: 0px;
        }

            .regis_credit_onlne .nav .active a {
                background-color: transparent;
                border: none !important;
                color: #515151;
                display: table;
            }

        .regis_credit_onlne .nav .stt_span {
            border-right: 1px solid #c9c9c9;
            display: table;
            float: left;
            padding: 10px;
        }

        .regis_credit_onlne .nav .span_name {
            padding: 10px 20px;
            display: table;
        }

    .regis_credit_onlne .content_reg_credict {
        border-width: 1px;
        border-color: #c9c9c9;
        border-style: solid;
        border-radius: 7px;
        min-height: 300px;
        margin-top: 17px;
        margin-bottom: 60px;
    }

        .regis_credit_onlne .content_reg_credict .heading_credict {
            min-height: 55px;
            line-height: 55px;
            border-bottom: 1px solid #c9c9c9;
            padding-left: 20px;
            font-size: 16px;
            color: #515151;
            font-weight: bold;
        }

.ipt_process input {
    height: 28px;
    color: #126b37;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 12px;
}

.ipt_process .input-group-addon {
    background: #FFF;
}

#slider-range-max {
    margin-top: 10px;
}

#slider-range-date {
    margin-top: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.body_credict form input {
    box-shadow: none;
}

.body_credict form select {
    box-shadow: none;
}

.body_credict form .custom_form input {
    border-radius: 6px;
    height: 28px;
    padding: 4px 12px;
}

.body_credict form .custom_form select {
    border-radius: 6px;
    height: 28px;
    padding: 4px 12px;
}

.btn-submit-custom {
    background: #279c57;
    font-weight: bold;
    color: #FFF;
    height: 42px;
}

    .btn-submit-custom:hover {
        color: #FFF;
        background: #05a346;
    }

.box_alert {
    max-width: 650px;
    margin: auto;
    display: table;
    font-size: 20px;
    color: #515151;
    padding-bottom: 200px;
}

    .box_alert .icon_success {
        display: table;
        margin: auto;
    }

    .box_alert h4 {
        font-size: 23px;
        font-weight: bold;
    }

.color_success {
    color: #279c57;
}

.btn-submit-auto {
    margin: auto;
    display: table;
    width: 170px;
}

.box-list-products .item_product {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    min-height: 200px;
    background: #FFF;
    margin-bottom: 15px;
}

    .box-list-products .item_product:hover {
        border: 1px solid #106747;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .box-list-products .item_product .item_img {
        min-height: 120px;
        padding: 8px 45px;
        overflow: hidden;
    }

        .box-list-products .item_product .item_img img {
            border: 1px solid #d7d7d7;
            border-radius: 5px;
            max-width: 100%;
            max-height: 98px;
            display: block;
            margin: auto;
        }

    .box-list-products .item_product .item_description .item_name span {
        display: block;
        text-align: center;
        color: #838181;
    }

    .box-list-products .item_product .item_description .item_price {
        border-top: 1px solid #d7d7d7;
        margin-left: 3px;
        margin-right: 3px;
        padding: 8px;
    }

        .box-list-products .item_product .item_description .item_price .price_old {
            display: block;
            color: #838181;
            font-size: 15px;
            background: #FFF;
            border: 1px solid #d7d7d7;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-bottom: 5px;
            text-align: center;
            border-radius: 3px;
        }

        .box-list-products .item_product .item_description .item_price .price_new {
            display: block;
            background: #106747;
            color: #8dc63f;
            font-size: 20px;
            padding-top: 2px;
            padding-bottom: 2px;
        }

            .box-list-products .item_product .item_description .item_price .price_new:hover {
                color: #FFF;
                box-shadow: 0px 5px 5px #dedede;
            }

.list-item {
    display: table-cell;
    width: 100%;
    border: 1px solid #eee;
    vertical-align: top;
    position: relative;
    float: left;
}

.row-item {
    display: table-row;
}

.list-item:hover {
    position: relative;
    z-index: 6;
    box-shadow: 0 0 5px 3px rgba(230, 219, 219, 0.55);
}

.list-item .box-border {
    display: inline-block;
    clear: both;
    width: 100%;
}

.hh-label-right {
    left: 4px;
    top: 1px;
}

.hh-label {
    position: absolute;
    font-size: 16px;
    z-index: 2;
}

.label-danger {
    background-color: #d9534f;
    border-radius: 0px;
}

.mosaic-block {
    float: left;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 270px;
}

.mosaic-overlay {
    display: none;
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #fff;
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-radial-gradient(center, ellipse cover, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-radial-gradient(center, ellipse, white 0%, #f6f6f6 47%, #ededed 100%);
    background: radial-gradient(ellipse at center, white 0%, #f6f6f6 47%, #ededed 100%);
}

.list-item .details {
    padding: 8px 0;
}

.list-item .mosaic-block a {
    opacity: 0;
    display: block;
}

.list-item:hover .mosaic-block a {
    opacity: 0.9 !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none;
}

.list-item .details ul li {
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 8px;
    font: normal 13px Arial, Helvetica, sans-serif;
    color: #000 !important;
    text-shadow: 0 0 1px #fff;
    text-decoration: none;
    background: url(../images/list_pr.html) no-repeat scroll 5px 3px transparent;
}

.mosaic-backdrop {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #fff;
}

    .mosaic-backdrop img {
        margin: 35px auto;
        display: block;
        height: 200px;
        max-width: 100%;
    }

.list-item .product-name {
    padding: 0 8px;
}

    .list-item .product-name h4 {
        text-align: center;
        clear: both;
        display: inline-block;
        width: 100%;
        padding-bottom: 30px;
    }

.list-item .product-price {
    font: bold 17px Arial, Helvetica, sans-serif;
    color: #da1821;
    bottom: 0;
    float: left;
    width: 63%;
    position: absolute;
    left: 3px;
    bottom: 6px;
}

.list-item .product-addCart {
    float: right;
    width: 40%;
    text-align: right;
    display: none;
    position: absolute;
    right: 3px;
    bottom: 5px;
}

.list-item:hover .product-addCart {
    display: inline-block;
}

.list-item .product-addCart a {
    display: inline-block;
    padding: 5px 5px;
    background: none repeat scroll 0 0 #ff961f;
    color: #fff;
    border: 1px solid #d54d00;
}

    .list-item .product-addCart a:hover {
        display: inline-block;
        padding: 5px 5px;
        text-decoration: none;
        background: none repeat scroll 0 0 #e82b00;
        color: #fff;
        border: 1px solid #8c0002;
    }

.list-item .product-name h4 a, .list-content .list-item .product-name h4 a:link, .list-content .list-item .product-name h4 a:visited {
    font: normal 13px Arial, Helvetica, sans-serif;
    color: #111;
}

.box-list-products {
    padding: 0px 15px;
    border-collapse: collapse;
}

    .box-list-products .col-md-4 {
        padding: 0px;
    }

@media (min-width: 980px) {
    .list-item {
        display: table-cell;
        width: 323px;
        border: 1px solid #eee;
        vertical-align: top;
        position: relative;
        float: none;
    }
}

.pt {
    padding-top: 20px !important;
    padding-bottom: 50px;
    display: table;
}

    .pt .pager {
        text-align: left;
    }

        .pt .pager li .current {
            background-color: #FFFFFF;
            color: #106747;
            border: 1px solid #106747;
        }

        .pt .pager li a {
            border-radius: 0px;
            background: #FFFFFF;
            color: #808080;
            -webkit-transition: all 0.2s ease 0s;
            transition: all 0.2s ease 0s;
        }

            .pt .pager li a:hover {
                color: #0384CE;
                border: 1px solid #0384CE;
            }

.content_tab_details h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 25px;
}

.content_tab_details .block-ads {
    border-width: 1px 1px 1px 1px;
    border-color: #e9e9e9;
    border-style: solid;
    width: 50%;
    display: table;
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    min-height: 295px;
}

    .content_tab_details .block-ads .box-heading {
        background: #ededed;
        padding: 15px 15px;
        border-bottom: 1px solid #e9e9e9;
        min-height: 40px;
    }

        .content_tab_details .block-ads .box-heading h3 {
            font-size: 14px;
            font-weight: bold;
            margin: 0px;
        }

    .content_tab_details .block-ads .box-content {
        padding-top: 15px;
        padding-bottom: 10px;
    }

        .content_tab_details .block-ads .box-content ul.list-style-1 li {
            background: url('content/f88/images/index/background/list_li_1.html') no-repeat;
            background-position: 15px 9px;
            padding: 6px 15px 6px 45px;
            position: relative;
        }

        .content_tab_details .block-ads .box-content ul.list-style-2 li {
            background: url('content/f88/images/index/background/list_li_2.html') no-repeat;
            background-position: 15px 9px;
            padding: 6px 15px 6px 45px;
            position: relative;
        }

.content_tab_details .block-ads-height {
    min-height: 339px;
}

.content_tab_details .block-ads-footer {
    width: 100%;
    display: table;
    min-height: 40px;
    color: #000;
    font-size: 16px;
    padding-top: 10px;
    background: #fdb719;
    border: 1px solid #e9e9e9;
    margin-left: -1px;
}

/*-------------
---------    Responsive ---------
--*/
@media (min-width: 1170px) {
    .body-list-item li {
        width: 12%;
        font-size: 14px;
        line-height: 10px;
    }

    .box-list-products {
        margin: -31px -26px;
    }

    .body_credict {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 35px;
    }

    .content_tab_about_new {
        position: relative;
        padding: 30px 25px;
        color: #383838;
        font-size: 14px;
    }

        .content_tab_about_new h1 {
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 25px;
            color: #383838;
        }

        .content_tab_about_new .img-about {
            float: left;
            max-width: 534px;
            margin-top: 15px;
        }

        .content_tab_about_new figure.img-about-bottom + figure.img-about-bottom {
            margin-left: 20px;
            margin-bottom: 20px;
        }

        .content_tab_about_new figure.img-about-top + figure.img-about-top {
            margin-left: 20px;
        }

    .wp-logo {
        width: 120px;
        float: left;
    }

    .wp-navbar {
        width: 660px;
        float: left;
    }

    .wp-numberphone {
        width: 390px;
        float: left;
        padding: 0px;
    }

    .navbar_top .navbar .collapse {
        padding: 0px;
    }

        .navbar_top .navbar .collapse ul li a {
            padding: 15px 8px;
        }

        .navbar_top .navbar .collapse ul li + li:before {
            padding: 0px;
            color: #ccc;
            content: "|";
            float: left;
            margin-top: 15px;
            color: #FFF;
        }

        .navbar_top .navbar .collapse ul .active a {
            background: none;
        }
}

@media (min-width: 768px) and (max-width: 1170px) {
    .navbar_top .navbar .collapse ul li a {
        font-size: 12px !important;
        padding: 15px 5px !important;
    }

    .navbar_top .navbar .collapse ul .active a {
        background: none;
    }

    #main-comment .box-content .box-comment {
        min-height: 285px;
        margin-bottom: 20px;
        background: #FFF;
        padding: 15px 20px;
        border: 1px solid #dadada;
    }
}

@media (min-width: 1200px) {
    .body-list-item li {
        width: 12%;
        font-size: 14px;
        line-height: 10px;
    }
}

@media (max-width: 512px) {
    .list_item {
        border: none !important;
        padding: 10px !important;
    }

    .row_item {
        clear: both;
        display: table !important;
        background: #f6f6f6;
        margin-bottom: 20px;
        padding: 10px !important;
    }

    .adress {
        width: 100% !important;
        padding: 10px !important;
        float: left !important;
    }

    .caption {
        width: 70% !important;
        padding: 10px !important;
        float: left !important;
    }

    .view {
        width: 30% !important;
        padding: 10px !important;
        display: table !important;
        float: left !important;
    }

        .view a {
            border: 1px solid #126b37;
            padding: 5px 5px;
            margin-top: 40px;
            font-size: 12px;
            margin-top: 42px;
        }

            .view a span {
                display: none;
            }

    .navbar_top .navbar .collapse ul .active a {
        background: none;
    }

    #section-content .box-wrapper {
        border-color: #e9e9e9;
        border-style: solid;
        border-width: 0px 1px 1px 1px;
        min-height: 500px;
        display: block;
        width: 100%;
        margin-bottom: 20px;
        background: #FFF;
    }

    .box-bqts .box-content-bqts .right_heading {
        background: url(../images/bg_right_2_heading.html) repeat;
        color: #000;
        min-height: 52px !important;
        width: 100%;
        display: block;
    }

    .box-bqts .box-content-bqts .left_heading {
        min-height: 50px !important;
        padding-top: 18px !important;
    }

    .box-bqts .box-content-bqts .box-item .row_stt span {
        width: 40px !important;
        height: 36px !important;
        font-size: 20px !important;
        margin: 15px 15px !important;
        line-height: 38px !important;
    }

    .box-bqts .box-content-bqts .box-item .row_stt .captiop-22 {
        line-height: 30px;
        margin-top: 10px !important;
        display: TABLE;
        float: left;
        width: 220px !important;
        padding-bottom: 20px;
        padding-left: 5px;
    }

    .box-bqts .box-content-bqts .box-item .row_stt img {
        float: right;
        display: table;
        margin: 0px !important;
        max-width: 100% !important;
        width: 100%;
    }

    .box-bqts .box-content-bqts .box-item .row_stt .div04_row_stt {
        background-size: 100% !important;
    }

    .box-bqts .box-content-bqts .box-item .row_stt .captiop-21 {
        line-height: 30px;
        margin-top: 10px !important;
        display: TABLE;
        float: left;
        width: 220px !important;
        padding-bottom: 20px;
        padding-left: 5px;
    }

    .box-bqts {
        padding: 30px 5px !important;
    }
}

@media (max-width: 1200px) {
    .body-list-item li {
        width: 12%;
        font-size: 12px;
        line-height: 10px;
    }
}

@media (max-width: 1170px) {
    #slider-range-max {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #slider-range-date {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .body_credict {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
    }

    .regis_credit_onlne .nav li {
        width: 100%;
        margin-bottom: 20px !important;
    }

        .regis_credit_onlne .nav li + li {
            margin-left: 0px;
        }

    .body-list-item li {
        font-size: 10px;
        line-height: 10px;
    }

    .body-list-item li {
        width: 32%;
        font-size: 11px;
        color: #FFF;
    }

        .body-list-item li img {
            line-height: 50px;
            max-width: 100%;
            display: block;
            margin: auto;
            margin-bottom: 15px;
            margin-top: 10px;
        }

    #main-list-item:after {
        display: none;
    }
}

@media (max-width: 768px) {
    .body-list-item li {
        width: 49%;
        font-size: 11px;
        color: #FFF;
    }

    #main-contact .box-content {
        padding-top: 0px;
        display: table;
        width: 100%;
    }

        #main-contact .box-content .btn-category-group ul {
            display: table;
            margin: 10px auto 10px auto;
            width: 200px;
        }

    .list_store_page h1 {
        margin-bottom: 25px !important;
    }

        .list_store_page h1 span {
            position: relative !important;
            display: block !important;
            width: 100% !important;
            left: 0px !important;
            right: 0px !important;
        }

    .list_store_page .form-group {
        margin-bottom: 10px !important;
    }

    .list_store_page .search_store {
        margin: 0px auto 20px auto !important;
    }

    .navbar-default .navbar-header {
        min-height: 75px !important;
    }

        .navbar-default .navbar-header .navbar-toggle {
            border-color: #fdb719 !important;
            border-width: 2px !important;
            border-radius: 2px !important;
            background: #FFF;
            margin-top: 18px !important;
        }

            .navbar-default .navbar-header .navbar-toggle .icon-bar {
                background-color: #8CC63F !important;
            }

    .navbar-default .collapse ul .active a {
        background: none;
    }

    #main-category .btn-category-group ul li {
        margin: 10px auto;
        display: table;
    }

    #main-album .thumb-media img {
        margin: 20px auto;
        display: block;
    }

    #main-comment .box-content .box-comment {
        margin-bottom: 20px;
        min-height: 240px;
    }

    .btn-cam-do-online {
        width: 200px !important;
        height: 42px !important;
        display: table;
        background: url(../images/index/button/cam-do-online.png) no-repeat !important;
        background-size: 100% !important;
    }

    .btn-mua-do-thanh-ly {
        width: 200px !important;
        height: 42px !important;
        display: table;
        background: url(../images/index/button/mua-do-thanh-ly.png) no-repeat !important;
        background-size: 100% !important;
    }

    #carousel-example-generic .carousel-control {
        display: none;
    }

    #main-list-item:after {
        display: none;
    }

    #main-slider #carousel-example-generic .carousel-indicators li {
        border-radius: 4px;
        width: 34px;
        height: 5px;
        background: #dedede;
        border: none;
        margin: 0px 3px;
    }

    .content_tab_details .block-ads {
        width: 100%;
    }

    .content_tab_details .adrress_store_left {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .box-wrapper-2 .nav_about_new ul li a {
        padding: 10px 10px !important;
    }
}

.box-wrapper-2 {
    border-color: transparent;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    min-height: 500px;
    display: table;
    width: 100%;
    margin-bottom: 20px;
    background: #FFF;
}

    .box-wrapper-2 .nav_about_new {
        background: #ededed;
        margin-bottom: 20px;
    }

        .box-wrapper-2 .nav_about_new ul {
            border-bottom: 1px solid #dadada;
            border-right: 1px solid #dadada;
            border-left: 1px solid #dadada;
        }

            .box-wrapper-2 .nav_about_new ul li {
                padding: 0px;
            }

                .box-wrapper-2 .nav_about_new ul li a {
                    border-color: #dadada !important;
                    border-style: solid !important;
                    color: #575757;
                    font-size: 14px;
                    border-radius: 0px;
                    border-width: 0px 1px 1px 0px !important;
                    margin: 0px !important;
                    padding: 10px 20px;
                }

            .box-wrapper-2 .nav_about_new ul .active a {
                background: #fdb719 !important;
                border-color: #fdb719 !important;
                border-style: solid !important;
                border-width: 0px 0px 1px 0px !important;
                border-radius: 0px;
                color: #383838;
            }

    .box-wrapper-2 .content_tab_about_new {
        position: relative;
        padding: 30px 25px;
        color: #383838;
        font-size: 14px;
        width: 100%;
        display: table;
        line-height: 20px;
    }

        .box-wrapper-2 .content_tab_about_new h1 {
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 25px;
            color: #383838;
        }

        .box-wrapper-2 .content_tab_about_new .img-about {
            float: left;
            max-width: 534px;
            margin-top: 20px;
        }

        .box-wrapper-2 .content_tab_about_new figure.img-about-bottom + figure.img-about-bottom {
            margin-bottom: 20px;
        }

@media (max-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        color: #ffffff;
        font-size: 14px;
        padding: 15px 5px;
    }
}
/*-----------    End -----------*/
#main-comment {
    position: relative;
}

    #main-comment .left.carousel-control {
        background: none;
        opacity: 1;
    }

        #main-comment .left.carousel-control .glyphicon {
            -webkit-transition: all 1000ms;
            transition: all 1000ms;
            visibility: visible;
            opacity: 1;
            height: 50px;
            width: 50px;
            text-shadow: none;
            color: #fdba21;
            background: #FFF;
            border-radius: 50%;
            line-height: 50px;
            font-size: 18px;
            top: 50%;
        }

            #main-comment .left.carousel-control .glyphicon:after {
                -webkit-transition: all 500ms;
                transition: all 500ms;
                display: block;
                content: '';
                position: absolute;
                top: -5px;
                left: -5px;
                background: rgba(255, 255, 255, 0);
                height: 60px;
                width: 60px;
                visibility: visible;
                opacity: 1;
                border-radius: 50%;
            }

            #main-comment .left.carousel-control .glyphicon:before {
                visibility: visible;
                opacity: 1;
            }

    #main-comment .right.carousel-control {
        background: none;
        opacity: 1;
    }

        #main-comment .right.carousel-control .glyphicon {
            -webkit-transition: all 1000ms;
            transition: all 1000ms;
            visibility: visible;
            opacity: 1;
            height: 50px;
            width: 50px;
            top: 50%;
            text-shadow: none;
            color: #fdba21;
            background: #FFF;
            border-radius: 50%;
            line-height: 50px;
            font-size: 18px;
        }

            #main-comment .right.carousel-control .glyphicon:after {
                -webkit-transition: all 500ms;
                transition: all 500ms;
                display: block;
                content: '';
                position: absolute;
                top: -5px;
                left: -5px;
                background: rgba(255, 255, 255, 0);
                height: 60px;
                width: 60px;
                visibility: visible;
                opacity: 1;
                border-radius: 50%;
            }

            #main-comment .right.carousel-control .glyphicon:before {
                visibility: visible;
                opacity: 1;
            }

    #main-comment:hover .left.carousel-control .glyphicon {
        visibility: visible;
        opacity: 1;
        height: 50px;
        width: 50px;
    }

        #main-comment:hover .left.carousel-control .glyphicon:after {
            height: 60px;
            width: 60px;
            visibility: visible;
            opacity: 1;
        }

        #main-comment:hover .left.carousel-control .glyphicon:before {
            visibility: visible;
            opacity: 1;
        }

    #main-comment:hover .right.carousel-control .glyphicon {
        visibility: visible;
        opacity: 1;
        height: 50px;
        width: 50px;
    }

        #main-comment:hover .right.carousel-control .glyphicon:after {
            height: 60px;
            width: 60px;
            visibility: visible;
            opacity: 1;
        }

        #main-comment:hover .right.carousel-control .glyphicon:before {
            visibility: visible;
            opacity: 1;
        }

@media (max-width: 1366px) {
    #main-comment .left.carousel-control {
        width: 50px;
    }

    #main-comment .right.carousel-control {
        width: 50px;
    }
}

@media (max-width: 1240px) {
    #main-comment .left.carousel-control {
        display: none;
    }

    #main-comment .right.carousel-control {
        display: none;
    }
}

#main-news {
    background-color: #ecf0f5;
    min-height: 300px;
}

    #main-news .bg_owl_slider .box-header {
        margin-top: 22px;
        display: table;
        width: 100%;
        background: url(../images/btn_new_header.png) left top no-repeat;
        background-color: #FFF;
        min-height: 40px;
        padding-left: 55px;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        color: #575757;
        padding-top: 10px;
        border: 1px solid #e3e7ec;
        border-bottom: 1px solid #dee1e6;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    #main-news .bg_owl_slider .box-content {
        position: relative;
        background-color: #FFF;
        border: 1px solid #dee1e6;
        border-top: 1px solid #FFF;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-bottom: 15px;
        padding: 15px 15px;
    }

        #main-news .bg_owl_slider .box-content .news_item {
            padding: 0px 6px;
        }

        #main-news .bg_owl_slider .box-content .news_task {
            display: table;
            width: 100%;
            clear: both;
            min-height: 32px;
            border-bottom: 1px solid #c4c4c4;
        }

            #main-news .bg_owl_slider .box-content .news_task .logo_news {
                width: 50%;
                float: left;
            }

            #main-news .bg_owl_slider .box-content .news_task .date_news {
                width: 50%;
                float: left;
                line-height: 30px;
                text-align: right;
                color: 8c8c8c;
                font-size: 12px;
            }

        #main-news .bg_owl_slider .box-content .des_news {
            padding-top: 10px;
            color: #6c6c6c;
            font-size: 13px;
        }

            #main-news .bg_owl_slider .box-content .des_news a {
                color: #6c6c6c;
            }

    #main-news .bg_owl_slider .customNavigation .btn {
        padding: 52px 4px;
    }

    #main-news .bg_owl_slider .customNavigation .prev {
        position: absolute;
        top: 15px;
        left: 21px;
        color: #FFF;
        background: rgba(0, 0, 0, 0.2);
    }

    #main-news .bg_owl_slider .customNavigation .next {
        position: absolute;
        top: 15px;
        right: 21px;
        color: #FFF;
        background: rgba(0, 0, 0, 0.2);
    }

.heading_f88bqts {
    background-color: #fab519;
    margin-left: -20px;
    margin-right: -20px;
}

    .heading_f88bqts span {
        display: block;
        padding: 10px 15px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #715106;
        margin-bottom: 20px;
    }

.box-bqts {
    padding: 30px 20px;
}

    .box-bqts .box-header-bqts h3 {
        margin-top: 0px;
        color: #6c6c6c;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 25px;
    }

    .box-bqts .box-content-bqts .left_heading {
        background: url(../images/bg_right_heading.jpg) repeat;
        color: #000;
        min-height: 120px;
        width: 100%;
        display: block;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding-top: 43px;
        text-transform: uppercase;
    }

    .box-bqts .box-content-bqts .right_heading {
        background: url(../images/bg_right_2_heading.jpg) repeat;
        color: #000;
        min-height: 120px;
        width: 100%;
        display: block;
    }

    .box-bqts .box-content-bqts .box-item {
        border: 1px solid #e9e9e9;
        margin-bottom: 20px;
    }

        .box-bqts .box-content-bqts .box-item .row_stt {
            width: 100%;
            color: #6c6c6c;
            font-size: 18px;
            font-weight: bold;
            line-height: 113px;
            border-bottom: 1px solid #e9e9e9;
            display: table;
        }

            .box-bqts .box-content-bqts .box-item .row_stt span {
                background: #c8c8c8;
                color: #FFF;
                width: 90px;
                height: 85px;
                display: block;
                float: left;
                font-size: 60px;
                border-radius: 5px;
                text-align: center;
                margin: 15px 15px;
                line-height: 85px;
                font-weight: 300;
            }

            .box-bqts .box-content-bqts .box-item .row_stt img {
                float: right;
                display: table;
                margin: 5px 5px;
            }

            .box-bqts .box-content-bqts .box-item .row_stt .div04_row_stt {
                background: url(../images/baoquantaisan/icon.jpg) no-repeat;
            }

            .box-bqts .box-content-bqts .box-item .row_stt .captiop-21 {
                line-height: 30px;
                margin-top: 30px;
                display: TABLE;
                float: left;
            }

            .box-bqts .box-content-bqts .box-item .row_stt .captiop-22 {
                line-height: 30px;
                margin-top: 40px;
                display: TABLE;
                float: left;
            }

.album-bqts {
    padding-left: 8px;
    padding-right: 8px;
}

    .album-bqts img {
        margin-bottom: 20px;
    }

    .album-bqts .col-md-6 {
        padding-left: 7px;
        padding-right: 7px;
    }

.heading--2 {
    display: table;
    padding-bottom: 10px;
    padding-top: 10px;
}

    .heading--2 h4 {
        font-size: 13px;
        margin-top: 10px !important;
        margin-bottom: 6px !important;
    }

    .heading--2 .left_ct {
        width: 235px;
        float: left;
    }

    .heading--2 .right_ct {
        width: 100px;
        float: left;
    }

    .heading--2 p {
        color: #6c6c62;
        font-size: 13px;
    }

    .heading--2 + .heading--2 {
        border-top: 1px solid #c9c9c9;
    }

.right-ft--2 {
    padding-left: 40px;
    padding-top: 25px;
}

#myModalVideo .modal-header h4 {
    color: #652c8a;
    text-transform: uppercase;
    font-weight: bold;
}

/*-- Css Tin Tß╗⌐c --*/
@font-face {
    font-family: HelveticaWorld-Bold;
    src: url("../fonts/HelveticaWorld-Bold.ttf");
}

@font-face {
    font-family: HelveticaWorld-Regular;
    src: url("../fonts/HelveticaWorld-Regular.ttf");
}

.body_news .content_news_left {
    padding-top: 20px;
    border-right: 1px solid #dadada;
    min-height: 300px;
}

    .body_news .content_news_left .news-top-langer {
        min-height: 450px;
    }

        .body_news .content_news_left .news-top-langer .media img {
            width: 100%;
        }

        .body_news .content_news_left .news-top-langer .news-top-title {
            font-family: HelveticaWorld-Bold;
        }

            .body_news .content_news_left .news-top-langer .news-top-title h2 {
                font-size: 22px;
                margin-top: 20px;
                margin-bottom: 18px;
            }

                .body_news .content_news_left .news-top-langer .news-top-title h2 a {
                    color: #333333;
                    text-decoration: none;
                }

                    .body_news .content_news_left .news-top-langer .news-top-title h2 a:hover {
                        color: darkgreen;
                    }

        .body_news .content_news_left .news-top-langer .news-top-description {
            font-family: HelveticaWorld-Regular;
            font-size: 14px;
            color: #777777;
        }

    .body_news .content_news_left .news-top-medium {
        min-height: 182px;
        margin-bottom: 15px;
    }

        .body_news .content_news_left .news-top-medium .media img {
            width: 100%;
        }

        .body_news .content_news_left .news-top-medium .description h3 {
            font-size: 14px;
            font-family: HelveticaWorld-Bold;
            margin-top: 10px;
        }

            .body_news .content_news_left .news-top-medium .description h3 a {
                color: #333333;
                text-decoration: none;
            }

                .body_news .content_news_left .news-top-medium .description h3 a:hover {
                    color: darkgreen;
                }

.body_news .sidebar_news_right {
    padding-left: 20px;
    padding-right: 20px;
}

    .body_news .sidebar_news_right .sidebar-top {
        margin-top: 20px;
        background-color: #652c8a;
        max-width: 315px;
        margin-left: auto;
        margin-right: auto;
    }

        .body_news .sidebar_news_right .sidebar-top .box-header {
            padding: 15px 20px;
            color: #FFF;
            font-family: HelveticaWorld-Bold;
            text-transform: uppercase;
        }

            .body_news .sidebar_news_right .sidebar-top .box-header:after {
                content: '';
                display: block;
                border-bottom: 1px solid #FFF;
                position: relative;
                margin-top: 10px;
            }

        .body_news .sidebar_news_right .sidebar-top .title {
            color: #FFF;
            padding: 0px 20px;
        }

        .body_news .sidebar_news_right .sidebar-top .btn-camdo {
            background: url(../images/new/btn_cam_do.png) no-repeat;
            background-size: 100%;
            min-height: 57px;
            margin-top: 15px;
            display: block;
            margin-left: 20px;
        }

            .body_news .sidebar_news_right .sidebar-top .btn-camdo:hover {
                background: url(../images/new/btn_cam_do_active.png) no-repeat;
                background-size: 100%;
            }

.body_news .sidebar-mid .box {
    display: table;
    width: 100%;
    min-height: 180px;
    border: 1px solid #e7e7e7;
    margin-top: 20px;
}

    .body_news .sidebar-mid .box .box-header {
        background: url(../images/new/bg_hoidap.png) no-repeat;
        background-position: 20px 15px;
        background-color: #f9f9f9;
        border-bottom: 1px solid #e7e7e7;
        min-height: 50px;
        font-family: HelveticaWorld-Bold;
        text-transform: uppercase;
        font-size: 14px;
        padding-left: 60px;
        line-height: 50px;
    }

    .body_news .sidebar-mid .box .box-content ul {
        margin-bottom: 0px;
    }

        .body_news .sidebar-mid .box .box-content ul li {
            background: url(../images/new/list_bg.png) no-repeat;
            background-position: 20px 15px;
        }

            .body_news .sidebar-mid .box .box-content ul li a {
                display: block;
                padding: 10px 35px;
                color: #4c4c4c;
                text-decoration: none;
            }

                .body_news .sidebar-mid .box .box-content ul li a:hover {
                    background: url(../images/new/list_bg.png) no-repeat;
                    background-position: 20px 15px;
                    color: darkgreen;
                    background-color: #fafafa;
                }

            .body_news .sidebar-mid .box .box-content ul li + li a {
                border-top: 1px solid #e7e7e7;
            }

.body_news .sidebar-bottom .box {
    margin-top: 20px;
}

    .body_news .sidebar-bottom .box .box-header {
        background-color: #652c8a;
        color: #FFF;
        min-height: 37px;
        font-family: HelveticaWorld-Bold;
        padding-top: 8px;
        padding-left: 15px;
    }

    .body_news .sidebar-bottom .box .box-content {
        border-top: 9px solid #e4e4e4;
    }

        .body_news .sidebar-bottom .box .box-content .media {
            background-color: #f3f3f3;
            border-bottom: 1px solid #e3e3e3;
            margin-top: 0px;
            margin-bottom: 2px;
            height: 115px;
            overflow: hidden;
        }

            .body_news .sidebar-bottom .box .box-content .media .media-left {
                padding: 10px;
            }

            .body_news .sidebar-bottom .box .box-content .media .media-body {
                padding: 10px;
                font-size: 14px;
                color: #454545;
            }

                .body_news .sidebar-bottom .box .box-content .media .media-body .author {
                    margin-top: 0px;
                    color: #808080;
                    font-size: 13px;
                    margin-bottom: 5px;
                }

                .body_news .sidebar-bottom .box .box-content .media .media-body .date-news {
                    color: #808080;
                    font-size: 13px;
                }

                .body_news .sidebar-bottom .box .box-content .media .media-body .media-heading {
                    font-family: HelveticaWorld-Regular;
                    font-size: 14px;
                    margin-top: 0px;
                    height: 46px;
                    overflow: hidden;
                }

                    .body_news .sidebar-bottom .box .box-content .media .media-body .media-heading a {
                        color: #454545;
                        text-decoration: none;
                    }

                        .body_news .sidebar-bottom .box .box-content .media .media-body .media-heading a:hover {
                            color: darkgreen;
                        }

.body_news .line-news-bottom {
    border-top: 1px solid #e9e9e9;
    border-bottom: 11px solid #fdb719;
    margin-left: 20px;
    margin-right: 5px;
}

.body_news .pagination_cumtom {
    padding-left: 20px;
}

.box-news-list .list-items {
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

    .box-news-list .list-items:after {
        border-bottom: 1px solid #dadada;
        content: '';
        display: block;
        position: relative;
        bottom: -18px;
        margin-right: 10px;
    }

    .box-news-list .list-items .media-left-item {
        margin-right: -10px;
    }

        .box-news-list .list-items .media-left-item img {
            width: 100%;
        }

    .box-news-list .list-items .title-news-item {
        height: 50px;
        overflow: hidden;
    }

        .box-news-list .list-items .title-news-item h3 {
            margin-top: 0px;
            font-family: HelveticaWorld-Bold;
            font-size: 18px;
        }

            .box-news-list .list-items .title-news-item h3 a {
                color: #333;
                text-decoration: none;
            }

                .box-news-list .list-items .title-news-item h3 a:hover {
                    color: darkgreen;
                }

    .box-news-list .list-items .date-news-item {
        font-family: HelveticaWorld-Regular;
        font-size: 13px;
        color: #777;
        height: 30px;
    }

    .box-news-list .list-items .description-news-item {
        font-size: 13px;
        color: #777;
        height: 76px;
        overflow: hidden;
    }

    .box-news-list .list-items + .list-items {
        padding-top: 18px;
    }

.box-details-news {
    padding-left: 20px;
    padding-right: 5px;
    color: #333333;
}

    .box-details-news h1 {
        font-family: HelveticaWorld-Bold;
        font-size: 22px;
        color: #333333;
        margin-bottom: 15px;
        line-height: 28px;
    }

    .box-details-news .date_details {
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        padding: 10px 0px;
        color: #777777;
        margin-bottom: 15px;
    }

    .box-details-news .box-news-more {
        margin-top: 40px;
        margin-bottom: 40px;
    }

        .box-details-news .box-news-more .box-header {
            background: #e6e6e6;
            background: -webkit-gradient(left top, right top, color-stop(0%, #e6e6e6), color-stop(100%, #fcfcfc));
            background: -webkit-linear-gradient(left, #e6e6e6 0%, #fcfcfc 100%);
            background: linear-gradient(to right, #e6e6e6 0%, #fcfcfc 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#fcfcfc', GradientType=1 );
            min-height: 24px;
            border-top: 1px solid #e9e9e9;
        }

            .box-details-news .box-news-more .box-header span {
                background: #eea50c;
                color: #FFF;
                padding: 2px 10px;
                margin-top: 2px solid #e9e9e9;
                display: table;
            }

        .box-details-news .box-news-more .box-content ul.list-left {
            margin-right: 0px;
        }

            .box-details-news .box-news-more .box-content ul.list-left li {
                background: url(../images/new/list_bg_2.png) no-repeat;
                background-position: 0px 18px;
                padding: 10px 20px 0px 20px;
            }

                .box-details-news .box-news-more .box-content ul.list-left li:after {
                    content: '';
                    display: block;
                    height: 10px;
                    border-bottom: 1px dashed #000000;
                }

                .box-details-news .box-news-more .box-content ul.list-left li a {
                    color: #000000;
                    text-decoration: none;
                }

                    .box-details-news .box-news-more .box-content ul.list-left li a:hover {
                        color: darkgreen;
                    }

        .box-details-news .box-news-more .box-content ul {
            margin-right: 0px;
        }

            .box-details-news .box-news-more .box-content ul li {
                background-position: 0px 18px;
                padding: 10px 20px 0px 20px;
            }

                .box-details-news .box-news-more .box-content ul li:after {
                    content: '';
                    display: block;
                    height: 10px;
                    border-bottom: 1px dashed #000000;
                }

                .box-details-news .box-news-more .box-content ul li a {
                    color: #000000;
                    text-decoration: none;
                }

                    .box-details-news .box-news-more .box-content ul li a:hover {
                        color: darkgreen;
                    }

.sidebar-bottom-2 .box-header {
    background-color: #fdb719 !important;
}

.pages-static h2 {
    font-family: HelveticaWorld-Bold;
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.pages-static .panel {
    box-shadow: none;
}

    .pages-static .panel .panel__title {
        font-size: 14px;
        font-family: HelveticaWorld-Bold;
        color: #6c6c6c;
        position: relative;
        padding-left: 15px;
        text-decoration: none;
    }

        .pages-static .panel .panel__title:hover {
            color: darkgreen;
        }

        .pages-static .panel .panel__title:before {
            content: "\e259";
            position: absolute;
            height: 14px;
            width: 14px;
            left: -2px;
            top: 3px;
            font-size: 12px;
            font-family: 'Glyphicons Halflings';
        }

        .pages-static .panel .panel__title.collapsed {
            font-family: HelveticaWorld-Regular;
        }

            .pages-static .panel .panel__title.collapsed:before {
                content: "\e258";
                left: 0;
            }

    .pages-static .panel .panel__body {
        padding-top: 5px;
        text-align: justify;
    }

@media (min-width: 1366px) {
    .body_news .content_news_left {
        width: 800px;
    }

        .body_news .content_news_left .box-news-top {
            padding: 0 15px;
        }

            .body_news .content_news_left .box-news-top .col-md-8 {
                width: 590px;
                padding-left: 20px;
                padding-right: 20px;
            }

            .body_news .content_news_left .box-news-top .col-md-4 {
                width: 179px;
                padding-left: 0px;
                padding-right: 5px;
            }

        .body_news .content_news_left .news-top-langer .media img {
            width: 100%;
            height: 308px;
        }

        .body_news .content_news_left .news-top-langer .news-top-title h2 a:hover {
            color: darkgreen;
        }

        .body_news .content_news_left .news-top-medium .media img {
            width: 100%;
            height: 111px;
        }

        .body_news .content_news_left .news-top-medium .description h3 a {
            color: #333333;
            text-decoration: none;
            color: #333333;
            text-decoration: none;
        }

            .body_news .content_news_left .news-top-medium .description h3 a:hover {
                color: darkgreen;
            }

    .body_news .sidebar_news_right {
        width: 355px;
    }
}

@media (min-width: 1200px) and (max-width: 1366px) {
    .body_news .content_news_left {
        width: 800px;
    }

        .body_news .content_news_left .box-news-top {
            padding: 0 15px;
        }

            .body_news .content_news_left .box-news-top .col-md-8 {
                width: 590px;
                padding-left: 20px;
                padding-right: 20px;
            }

            .body_news .content_news_left .box-news-top .col-md-4 {
                width: 179px;
                padding-left: 0px;
                padding-right: 5px;
            }

        .body_news .content_news_left .news-top-langer .media img {
            width: 100%;
        }

        .body_news .content_news_left .news-top-langer .news-top-title h2 a:hover {
            color: darkgreen;
        }

        .body_news .content_news_left .news-top-medium .media img {
            width: 100%;
        }

        .body_news .content_news_left .news-top-medium .description h3 a {
            color: #333333;
            text-decoration: none;
            color: #333333;
            text-decoration: none;
        }

            .body_news .content_news_left .news-top-medium .description h3 a:hover {
                color: darkgreen;
            }

    .body_news .sidebar_news_right {
        width: 355px;
    }
}

@media (max-width: 1200px) {
    .body_news .content_news_left {
        padding-top: 20px;
        border-right: 1px solid #FFF;
        min-height: 300px;
    }
}

@media only screen and (max-width: 992px) {
    .content_news_left .media {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .box-news-list .list-items .media-left-item {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .body_news .content_news_left .news-top-langer {
        min-height: 250px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .box-news-list .list-items {
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 767px) {
    #main-footer {
        padding-top: 10px;
    }
}
@media (min-width: 1200px) { .right-ft--2 { padding-left: 80px !important; }
  .right-ft--2 .left_ct { width: 290px !important; }
  .center-ft--2 { padding-left: 40px !important; } }
@media (min-width: 768px) and (max-width: 1200px) { .right-ft--2 { padding-left: 15px !important; }
  .center--2 { padding-left: 30px; } }
.box-news-list .list-items:last-child:after{
        border-bottom: none;
}
/*-- End --*/

/*# sourceMappingURL=style.css.map */

/*Recruiment - Start*/
/*Recruiment - End*/
@media screen and (max-width: 767px) {
    body .navbar-bottom ul li {
        display: block;
    }
}
.details-content  p img {
    width: 100% !important;
}