
.custom-pagination {
	margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 4px;
    display: inline-block;
    padding-left: 0;
}

.custom-pagination > li {
    display: inline;
}

.custom-pagination > li:first-child > a, 
.custom-pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}

.custom-pagination > .disabled > a, 
.custom-pagination > .disabled > a:focus, 
.custom-pagination > .disabled > a:hover, 
.custom-pagination > .disabled > span, 
.custom-pagination > .disabled > span:focus, 
.custom-pagination > .disabled > span:hover {
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    cursor: not-allowed;
}

.custom-pagination > .active > a, 
.custom-pagination > .active > span, 
.custom-pagination > .active > a:hover, 
.custom-pagination > .active > span:hover, 
.custom-pagination > .active > a:focus, 
.custom-pagination > .active > span:focus {
    background-color: #f4f4f4;
    border-color: #dddddd;
    color: inherit;
    cursor: default;
    z-index: 2;
}

.custom-pagination > li > a, 
.custom-pagination > li > span {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}

.custom-table {
	margin-bottom: 0;
}

.custom-tbody > tr > td > div{
	width: 100%;
}

.custom-tbody > tr > td > div > div > div.footable-row-detail-name{
	display: none;
}

.partner-tbody > tr{
    display: table-row;
}

.label-custom{
    font-size: 100%;
}
.add-padding-left{
    padding-left: 15px !important;
}

.note-editable{
    border-bottom: 1px solid #e7eaec;
    border-left: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
}

.note-editable.panel-body {
    overflow-y: scroll;
    max-height: 500px;
}

.btn-file > input {
    right: unset !important;
    top: -10px !important;
    transform: unset !important;
}